.patreon-button{
  width: 100%;
  height: 40px;
  margin-top: 50px;
  background: linear-gradient(-50deg, #000, #222, #000);
  border: #ffa600 2px solid;
  border-radius: 5px;
  box-shadow: #000 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
}

.link{
  color: #00ccff;
  cursor: pointer;
}